<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h2 align="center">Welcome,you are logged in! </h2>
    </body>
</html>
