<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1 align="center">Delete User </h1>
        <div class="container">
            <form  name="delete" method="post" action="deleteUser">
                        <div class="form-group">
                            <label for="id">Enter the UserId:</label>
                            <input type="text" class="form-control" id="_id" name="_id">
                        </div>
                    <button type="submit" class="btn btn-primary" name="deleteUser">Delete</button>
                    </div>
                    
            </form>
    </div>
        
    </body>
</html>
