<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1 align="center">Try again or mismatch data</h1>
        <div class="container">
                
        </div>
    </body>
</html>
