<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP</title>
      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1 align="center">Password Reset</h1>
        <div class="container">
                <form  name="forgotPassword" method="post" action="forgotPassword">
                    <div class="form-group">
                      <label for="password">Enter your new Password:</label>
                      <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary" name="forgotPassword">Submit</button><br>    
                    <h4><a href="/login">Back</a></h4>
       </form>
        </div>
    </body>
</html>
