<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1 align="center">No such Route exists</h1><br>
        <h2 align="center">Try Again</h2>
        <div class="container">
                
        </div>
    </body>
</html>
